<% layout('layouts/boilerplate') %>
<title>AdminLTE 3 | Registration Page (v2)</title>

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
<!-- icheck bootstrap -->
<link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/dist/css/adminlte.min.css">
<style>
    a:hover{
        cursor: pointer;
    }
    .free{
        color: #00a65a;
        padding: 5px 10px;
        border-radius: 5px;
        background: #fff;
        border: 1px solid #00a65a;
    }

    .free:hover{
        background: #00a65a;
        color: #fff;
    }
    .free:active{
        background: #00a65a;
        color: #fff;
    }
    .register{
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        background: #00a65a;
        border: 1px solid #00a65a;
    }
    .register:hover{
        background: #fff;
        color: #00a65a;
    }

    .login{
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        background: #00a65a;
        border: 1px solid #00a65a;
    }
    .login:hover{
        background: #fff;
        color: #00a65a;
    }

</style>
</head>

<body class="hold-transition register-page">
    
<h1>APP LANDING PAGE</h1>
<a href="/account/register" class="free">Try for Free</a>
<a href="/account/register" class="register">Register</a>
<a href="/auth/signin" class="login">Login</a>